footer {
  position: relative;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #161819;
}

.footer-content {
  color: #f0f8ff;

  & ul {
    margin-left: 40%;
    margin-top: 2%;
  }

  & h2 {
    
    font-weight: bold;
    font-size: 18px;
  }

  & li {
    padding-top: 10%;
  }
}

.footer-adjustment {
  display: flex;
}

.img-adjustment-footer {
  width: 160px;
  height: 40px;
  
}

.div-adjustment {
  margin-left: 20%;
  margin-top: 2%;

  & h2 {
    margin-top: 7%;
    width: 250%;
  }
}

.icon-footer {
  margin-top: 5%;
  margin-left: 6%;
  width: 28px;
  height: auto;
  cursor: pointer;
}

.espaço-icones {
  width: 250%;
}

.ajuste-espaços {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    color: #f0f8ff;

    & ul {
      margin-left: 9%;
      margin-top: 2%;
    }

    & h2 {
      margin-left: 8%;
      font-weight: bold;
      font-size: 18px;
    }

    & li {
      padding-top: 13%;
    }
  }

  .div-adjustment {
    margin-left: 0%;
    margin-top: 2%;

    & h2 {
      margin-top: 7%;
      width: 100%;
    }
  }
}
